<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>I want</h1><br>
                    <div class="dropdown">
                      <select class="dropdown-button activities btn btn-default">
                        <option value="0" >Category</option>
                        <%= @activities.each do |activity| %>
                          <option value="<%= activity.id%>"><%= activity.name %></option>
                        <% end %>
                      </select>
                    </div>
                    <br><h1>I feel like</h1><br>
                    <div class="dropdown">
                      <select class="dropdown-button genres btn btn-default">
                        <option value="0">Type</option>
                        <%= @genres.each do |genre| %>
                          <option value="<%= genre.id%>"><%= genre.name %></option>
                        <% end %>
                      </select>
                    </div>
                    <br><h1>in</h1><br>
                    <div class="dropdown">
                      <select class="dropdown-button neighborhoods btn btn-default">
                        <option value="0" >Neighborhood</option>
                        <%= @neighborhoods.each do |neighborhood| %>
                          <option value="<%= neighborhood.name%>"><%= neighborhood.name %></option>
                        <% end %>
                      </select>
                    </div>
                    <br><div class="btn btn-lg btn-default" id="submit-button">HELP!</div>
                <br><div id="match-div">
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->